<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header'); %>
    <title>BWF | Home</title>
    <link rel="stylesheet" href="stylesheets/bootstrap-material-datetimepicker.css">
    <script type="text/javascript" src="javascripts/moment.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap-material-datetimepicker.js"></script>
    <script type="text/javascript" src="javascripts/home.js"></script>
  </head>
  <%- include('navbar'); %>
  <main>
    <body onload="setup();">
      <div class="container">
        <div class="row pushed-down-alot">
          <div id="geoLoader" class="progress">
              <div class="indeterminate"></div>
          </div>
          <h1 id="geoError" class="red-text center-align hide">Sorry, Location is not enabled <i class="fa fa-frown-o" aria-hidden="true"></i></h1>
          <div id="explore-vs-home" class="row hide">
            <h2 class="center-align blue-grey-text text-darken-4 hide-on-small-only">Where do you wanna hang out?</h2>
            <div class="col s6 m6">
              <div class="card blue lighten-4 clickable" onclick="displayHomeOptions();">
                <div class="card-content blue-grey-text text-darken-4 center-align">
                  <span class="card-title center-align">Stay Home</span>
                  <h1 class="center-align option-card-logo"><i class="fa fa-home" aria-hidden="true"></i></h1>
                </div>
              </div>
            </div>
            <div class="col s6 m6">
              <div class="card teal lighten-4 center-align clickable" onclick="displayExploreOptions();">
                <div class="card-content blue-grey-text text-darken-4">
                  <span class="card-title center-align">Go Explore</span>
                  <h1 class="center-align option-card-logo"><i class="fa fa-compass" aria-hidden="true"></i></h1>
                </div>
              </div>
            </div>
          </div>
          <%- include('home-options'); %>
          <%- include('explore-options'); %>
        </div>
      </div>
    </body>
  </main>
  <%- include('footer'); %>
</html>

<!--
Copyright 2016 DeveloperDemetri
developerdemetri.com

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
